header, footer {
	background-color: #162756;
	color: white;
}

header {
	line-height: 100px;
	height: 100px;
}

#logo {
	max-width: 410px;
	max-height: 99px;
}

#main-navigation {
	margin-right: 20px;
	margin-left: 15px;
}

.separation {
	min-width: 100%;
	width: 100% !important;
	margin: 0 !important;
	padding: 0;
	height: 20px;
}

#sign-in {
	display: none;
	position: absolute;
	top: 80px;
	right: 15px;
	width: 300px;
	position: absolute;
}

#sign-in button {
	width: 100%;
}

#sign-in div {
	margin: 10px 0;
}

#nav-sign-in {
	margin-left: 25px;
}

#nav-sign-in:hover {
	border-bottom: none;
}

.container-fluid {
	padding: 0;
}

#alert-box{
	position: fixed;
	display: none;
	width: 544px;
	margin: 5px auto;
	z-index: 99;
}

#banner {
	padding: 0px;
	margin: 0px;
	height: calc(100vh - 100px);
	background: url("/images/home.jpg");
	background-position: center center;
	background-size: cover;
	position: relative;
	vertical-align: top;
	transform-origin: center top;
}

#degreesGuest {
	display: flex;
	flex-direction: column;
	justify-content: space-around; font-size : 1.5em;
	color: #0E494E;
	padding: 25px 0 25px 0px;
	min-height: 100vh;
	text-align: center;
	font-size: 1.5em
}

.table thead {
	background-color: #0E494E;
	color: white;
}

.container {
	margin: 15px auto;
	width: 60%;
}

.onImageMessage {
	line-height: 25vh;
	color: white;
	height: 25vh;
	background-color: rgba(35, 97, 103, 0.6);
	position: absolute;
	top: 40vh;
	left: 0px;
	width: 544px;
}

#contact-us{
	color: white;
	min-height: 100vh;
	background-color: #236167;
}

header  a, footer a {
	padding: 10px;
	color: white;
}

header nav>a:hover {
	color: white;
	text-decoration: none;
	border-bottom: 5px solid #236167;
}

#profile{
	color: white;
	background-color: #236167;
}

#profile .glyphicon{
	font-size: 1.3em;
}

#profile .glyphicon:hover{
	color: #82BC5F;
}

#profile form{
	margin-top: 15px;
	height: 255px;
	display: flex;
	flex-direction: column;
}
#profile input{
	border: none;
	width: 95%;
	background-color: transparent;
}

#photoSubmit{
	position: absolute;
	top: 235px;
}

hr{
	box-shadow: 0px 0px 5px #236167;
	width: 60%;
}

#photo-input-div{
	background-color:#ADD8DC;
	color: black;
	width: 544px;
	display: none;
	position: absolute;
}

#photo-input-div input{
	background-color: white;
}

#profile img{
	margin: 10px 0 10px 0;
	min-width: 150px;
	min-height: 150px;
	width: 250px;
	height: 250px;
}

.professor, .editProf {
	margin-left: 20px;
	margin-right: 20px;
}

.profImg {
	max-width: 30%;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #ADD8DC; 
   color: black;
 }